.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: url("/background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 450px;
}

.divider {
  width: 684px;
  height: 3px;
  margin-top: 25px;
}

.sponsoredText {
  color: #FFFFFF;
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 40px;
  opacity: 0.4000000059604645;
  text-align: center;
  margin-top: 40px;
}

.sponsor {
  margin-top: 20px;
  width: 300px;
}

@media only screen and (min-width:1600px){
  .sponsor{
    width: 400px;
  }

  .sponsoredText {
    font-size: 32px;
  }
  
  .logo {
    width: 550px;
  }
}