.marqueeContainer {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  margin-left: 10px;
}

.marqueeShadow {
  position: absolute;
  width: 100px;
  height: 100%;
  right: 0;
  top: 0;
  background-image: linear-gradient(90deg, rgba(14,24,32,0.00) 0%, #010A17 80%);
}

.marqueeShadowStart {
  position: absolute;
  width: 100px;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(-90deg, rgba(14,24,32,0.00) 0%, #010A17 80%);
}


.marqueeText {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  color: #FFFFFF;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 400;
  line-height: 50px;
}

.marqueeMessageBlock {
  display: flex;
  align-items: center;
}

.marqueeDividerImg {
  margin-left: 10px;
  margin-right: 10px;
  height: 28px;
  width: 27px;
}
